@import "tailwindcss";

@font-face {
    font-family: "Reddit Sans";
    src: url("/assets/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf"), format("truetype");
    display: swap;
    font-weight: 200 900;
}

:root{
    --lightGradient : linear-gradient(180deg, #F5F5FF 72.99%, #E0E0FF 100%);
    --primaryFont : 'Reddit Sans', sans-serif;
}


@theme inline {
    --color-neutral900: #21214D;
    --color-neutral600: #57577B;
    --color-neutral300: #9393B7;
    --color-neutral200: #CBCDD0;
    --color-neutral0: #FFFFFF;
    --color-blue700: #2A4CD5;
    --color-blue600: #4865DB;
    --color-blue300: #89CAFF;
    --color-blue200: #C7D3F7;
    --color-blue100: #E0E6FA;
    --color-red700: #E60013;
    --color-red300: #FF9B99;
    --color-indigo200: #B8B1FF;
    --color-green300: #89E780;
    --color-amber300: #FFC97C;
    --font-primary: var(--primaryFont);
}

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: transparent;
        font-family: var(--font-primary);
        color: var(--color-neutral900);
        letter-spacing: -0.85px;
        text-decoration: none;
        list-style: none;
        border: none;
    }
}

html {
    background: var(--lightGradient);
    background-color:#F5F5FF;
}

html, body, #root {
    min-height: 100vh;
}

@layer component {
    .chartGridRows {
        display: grid;
        grid-template-rows: repeat(5, 1fr) 40px;
       
    }

    .hoursAxisGridRows{
        display: grid;
        grid-template-rows: repeat(5, 1fr) 40px;
        gap: 38px;
    }

    .boxShadow {
        box-shadow: 0px 4px 7px 0px hsla(240, 40%, 22%, 0.16);
    }
}